<html>
  <head>
  	<title>Relace This Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
	<style>
	  body { text-align: center; padding: 150px; }
	  h1 { font-size: 50px; }
	  body { font: 20px Helvetica, sans-serif; color: #333; }
	  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
	  a { color: #dc8100; text-decoration: none; }
	  a:hover { color: #333; text-decoration: none; }
	</style>

	<article>
	    <h1>SITE created...</h1>
	    <div>
	        <p>If you see this, it means your site was installed successfully. Replace the contents of the directory where this file is with your site content.</p>
	        <p>&mdash; GitShipper Team</p>
	    </div>
	</article>
    
  </body>
</html>
